<!--
<div class="row" style="margin-left: 0; margin-right: 0;">
  <div class="col-12" style="padding-left: 0; padding-right: 0;">
    <img class="img-fluid w-100" src="assets\animals-2222007_1280.jpg" />
  </div>
</div>
<div class="row" style="margin-left: 0; margin-right: 0;">
  <div class="col-12" style="padding-left: 0; padding-right: 0;">
    <img class="img-fluid w-100" src="assets\christmas-2934094_1280.jpg" />
  </div>
</div>
<div class="row" style="margin-left: 0; margin-right: 0;">
  <div class="col-12" style="padding-left: 0; padding-right: 0;">
    <img class="img-fluid w-100" src="assets\emotions-3459666_1280.jpg" />
  </div>
</div>
<div class="row" style="margin-left: 0; margin-right: 0;">
  <div class="col-12" style="padding-left: 0; padding-right: 0;">
    <img class="img-fluid w-100" src="assets\nature-2813487_1280.jpg" />
  </div>
</div>
-->
<div *ngFor="let item of items" class="row" style="margin-left: 0; margin-right: 0;">
  <div class="col-12" style="padding-left: 0; padding-right: 0;">
    <img class="img-fluid w-100" [src]="item.image" />
    <div [class]="item.textAlign" *ngIf="item.title != null && item.title != ''">
      <span class="title">{{item.title}}</span><br />
      <span class="description">{{item.description}}</span>
    </div>
  </div>
</div>
